.pl-0 {
    padding-left: 0px !important;
}
.p-5 {
    padding: 5px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.container {
    width: 95% !important;
    margin-top: 15px;
}

.green-text {
    color: #1ea020;
}

.red-text {
    color: #e80b0b;
}

.yellow-text {
    color: #ead007;
}
 
.b-b {
    border-bottom: 1px solid #446e9b 
}

.tiny-font {
    font-size: 50%;
}
